@keyframes rulesItemNumberFadeIn {
  0% {
    color: transparent;
    transform: scale(0);
  }

  30% {
    color: transparent;
  }

  85% {
    transform: scale(1.25);
    color: $c-light;
  }

  100% {
    transform: scale(1);
    color: $c-light;
  }
}


@keyframes rulesItemTitleFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  85% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sliderButtonRollPrev {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-180deg);
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
    transform: translateX(0) rotate(0);
  }
}

@keyframes sliderButtonRollNext {
  0% {
    opacity: 0;
    transform: translateX(100px) rotate(180deg);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
